version: '3.8'

services:
  backend:
    image: api_otruyen
    container_name: backend-container
    ports:
      - "80:8001"
    environment:
      # It is best practice to quote strings with special characters in YAML
      - MONGODB_URI=mongodb+srv://ainh01:Bb1234567890!@ainh.global.mongocluster.cosmos.azure.com/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000
      - DB_NAME=otruyen_db
    # Optional: ensure it restarts automatically if it crashes
    restart: unless-stopped
